.sheet {
    display: block;
    background-color: rgb(255,255,255);

    /* overflow: hidden; */
    position: relative;
    box-sizing: border-box;
    page-break-after: always;


    margin: 0;
    padding: 0;

    /* height: 100%;
    width: 100%; */
}

.DINA4 {
    width: 210mm;
    min-height: 296mm;
}

.DINA4.landscape {
    /* width: 297mm;
    min-height: 209mm; */

    /* fixed with margins */
    width: 277mm;
    min-height: 189mm;
}


@page {
    margin: 10mm;
    size: A4 landscape;
}

@media screen {
    .sheet {
        margin: 1em;
        /* padding: 0 10mm 10mm; */
        padding: 10mm;
    }
}

@media print {
    html, body {
        /* width: 210mm;
        height: 297mm; */

        /* width: 297mm;
        min-height: 210mm; */

        /* fixed with margins */
        width: 277mm;
        min-height: 189mm;

        /* padding: 0 10mm 10mm; */
    }
    /* hide all unused things.. ?! */
    .background,
    .moewe,
    #listview > h1,
    header {
        display: none;
    }
}
